<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>회원 상세 조회 테스트</title>
</head>
<body>
    <table border="1">
    <thead>
    <tr>
        <th>회원아이디</th>
        <th>회원비밀번호</th>
        <th>회원이름</th>
        <th>회원핸드폰</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${Member.user_id}"></td>
        <td th:text="${Member.user_pw}"></td>
        <td th:text="${Member.user_name}"></td>
        <td th:text="${Member.user_phone}"></td>
    </tr>
    </tbody>
    </table>
</body>
</html>