<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="test.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/footer.css" />

  <title>찜목록</title>

</head>

<body>
<!-- header 시작 -->
<header th:replace="~{header/header}"></header>
<!-- header 끝 -->
<div class="container">
  <div class="row">

    <div class="col-lg-3" style=" max-width: 240px;">
<!--      <div class="accordion" id="accordionPanelsStayOpenExample">-->

<!--        <div class="accordion-item">-->
<!--          <button type="button" class="btn"-->
<!--                  style="width:214px; height:52px; text-align: left; padding:16px 20px;">전체 찜목록</button>-->
<!--        </div>-->

<!--        <div class="accordion-item">-->
<!--          <h2 class="accordion-header" id="headingOne">-->
<!--            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"-->
<!--                    aria-controls="panelsStayOpen-collapseOne">-->
<!--              방종류-->
<!--            </button>-->
<!--          </h2>-->

<!--          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"-->
<!--               aria-labelledby="panelsStayOpen-headingOne">-->
<!--            <ul class="list-group list-group-flush">-->
<!--              <li class="list-group-item list-group-item-action" name="category"-->
<!--                  style="cursor:pointer">원룸</li>-->
<!--              <li class="list-group-item list-group-item-action" name="category"-->
<!--                  style="cursor:pointer">투룸</li>-->
<!--              <li class="list-group-item list-group-item-action" name="category"-->
<!--                  style="cursor:pointer">오피스텔</li>-->

<!--            </ul>-->
<!--          </div>-->

<!--        </div>-->

        <div class="accordion-item">
<!--          <h2 class="accordion-header" id="headingTwo">-->
<!--            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"-->
<!--                    aria-controls="panelsStayOpen-collapseTwo">-->
<!--              매물유형-->
<!--            </button>-->
<!--          </h2>-->

          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingTwo">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action" name="category"
                  style="cursor:pointer">월세</li>
              <li class="list-group-item list-group-item-action" name="category"
                  style="cursor:pointer">전세</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="col" style="margin-right: 10px; min-height: 818px;">
      <div class="row py-2">
        <div class="col-lg-8"></div>

      </div>
      <div>
        <div style="font-weight:bold; font-size:20px;">전체 찜목록</div>
        <br>
        <div class="btn-toolbar">
          <form class="form-inline" method="get" th:action="@{/wishlist/{user_id}(user_id=${session.user_id})}">
            <div class="input-group">
              <div style="width: 200px;">
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="houseType">
                  <option value="전체" selecte>방 종류(전체)</option>
                  <option value="원룸">원룸</option>
                  <option value="투룸">투룸</option>
                  <option value="오피스텔">오피스텔</option>
                </select>
              </div>
              &nbsp;
              <div style="width: 200px;">
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="dealType">
                  <option value="전체" selected>거래 방법(전체)</option>
                  <option value="월세">월세</option>
                  <option value="전세">전세</option>
                </select>
              </div>
              &nbsp;
              <div style="width: 200px;">
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="exclusive_area2" >
                  <option value="10000" selected>방크기(전체)</option>
                  <option value="33">0m²~33m² (10평 이하)</option>
                  <option value="66">33m²~66m² (20평 이하)</option>
                  <option value="99">66m²~99m²(30평 이하)</option>
                  <option value="130">130m² (40평 이하)</option>
                </select>
              </div>
              &nbsp;
              <div>
                <input type="submit" class="btn btn-secondary" id="btnCheck" style="height: 50px;"
                       value="적용">

                <input type="reset" class="btn btn-secondary" style="height: 50px;"
                       value="초기화">
              </div>
            </div>
          </form>
        </div>

<!--        <select class="form-select form-select-sm mt-2" style="width: 100px;"-->
<!--                aria-label=".form-select-sm example">-->
<!--          <option selected>정렬</option>-->
<!--          <option value="1">인기순</option>-->
<!--          <option value="2">최신순</option>-->
<!--          <option value="3">조회순</option>-->
<!--        </select>-->
      </div>
      <hr>
      <br>
      <div class="row" style="margin-top:10px;">
        <div class="card-back mb-2 col-lg-3" style="cursor:pointer;" th:each="favorites : ${favorites.wishPageList}">
          <div class="card-img">
            <a th:href="@{'/real_estate_detail?house_num='+${favorites.house_num}}">
            <img src="/img/1.jpg" th:src="|/images/${favorites.save_name}|" style="width: 230px; height:150px;">
            </a>
          </div>
          <div class="card-teacher">
            <b class="text-muted" th:text="${favorites.house_type}" style="font-size: 13px;">오피스텔 • 강남역솔라티움시티</b>
          </div>
          <div class="card-title">
            <div class="fw-bold fs-5" th:if="${favorites.deal_type == '월세'}">월세 [(${favorites.deposit})] / [(${favorites.m_price})]만원</div>
            <div class="fw-bold fs-5" th:if="${favorites.deal_type == '전세'}">전세 [(${favorites.y_price})] 만원</div>
          </div>
          <div class="card-text">
            <b style="font-size: 12px;">[(${favorites.n_floors})]층, [(${favorites.exclusive_area2})]m², 관리비 [(${favorites.total_m_cost})]만</b>
          </div>
          <div class="card-text2">
            <b style="font-size: 12px;" th:text = "${favorites.h_title}">강남역 신축급 오피스텔</b>
          </div>
          <div class="card-under">
            <span class="badge bg-secondary text-white" style="margin-top:10px;">조회수
                                + <span>[(${favorites.hits})]</span>
            </span>
          </div>
        </div>


      </div>


      <ul class="pagination mt-2" style="justify-content : center;">
        <li th:if="${favorites.pageDTO.isPrev()}" class="paginate_button page-item previous">
          <a class="page-link" th:href="${favorites.pageDTO.startPage -1}">이전</a>
        </li>
        <li th:each="num: ${#numbers.sequence(favorites.pageDTO.startPage,favorites.pageDTO.endPage)}" class="paginate_button page-item">
          <a class="page-link" th:href="${num}" th:value="${num}" th:text="${num}"></a>
        </li>
        <li th:if="${favorites.pageDTO.isNext()}" class="paginate_button page-item next" >
          <a class="page-link" th:href="${favorites.pageDTO.endPage + 1}">다음</a>
        </li>
      </ul>
    <br><br>
    </div>
  </div>
  <form method="get"  id="actionForm" th:action="@{/wishlist/{user_id}(user_id=${session.user_id})}">
    <input type="hidden" name="pageNum" th:value="${favorites.pageDTO.cri.getPageNum()}">
    <input type="hidden" name="amount" th:value="${favorites.pageDTO.cri.getAmount()}">
    <input type="hidden" name="type" th:value="${favorites.pageDTO.cri.getType()}">
    <input type="hidden" name="keyword" th:value="${favorites.pageDTO.cri.getKeyword()}">
  </form>
</div>
<script>
  $(function() {
    var actionForm = $("#actionForm");

    $(".page-item a").on("click", function (e) {
      e.preventDefault();  //전송을 막음
      console.log('click');
      actionForm.find("input[name='pageNum']")
              .val($(this).attr("href"));
      actionForm.submit();
    });
  });
</script>
<!--컨테이너종료-->

<!-- footer 시작 -->
<footer th:replace="~{footer/footer}"></footer>
<!-- footer 끝 -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>