<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.thishouse.mapper.BoardMapper">

    <select id="select_board_list" resultType="com.example.thishouse.domain.community.Community">
        select *
        from community
        ORDER BY community_num
    </select>

    <insert id="insert_board" parameterType="com.example.thishouse.domain.community.Community">
        insert into community (community_title,user_name,community_contents,community_date,community_hits)
        values(#{community_title},#{user_id},#{community_contents},now(),0);
    </insert>

    <insert id="insert_reply">
        insert into community_reply(community_num,user_id,reply_contents,reply_date)
        values(#{community_num},#{user_id},#{reply_contents},now());
    </insert>

    <!--게시판 상세조회-->
    <select id="view_board" resultType="com.example.thishouse.domain.community.Community">
        select *
        from community
        where community_num = #{community_num}
    </select>

    <select id="view_reply">
        select *
        from community_reply
        where community_num = #{community_num}
    </select>

    <delete id="delete_board">
        delete from community
        where community_num = #{community_num}
    </delete>

    <update id="modify_board">
<!--//쿼리-->
    </update>

    <delete id="delete_reply_with_board">
        delete from community_reply
        where community_num = #{community_num}
    </delete>

    <delete id="delete_reply">
        delete from community_reply
        where reply_num = #{reply_num}
    </delete>

</mapper>