<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.thishouse.mapper.MarkerMapper">
<!--    <insert id="insertMarker" parameterType="com.example.thishouse.domain.Marker">-->
<!--        INSERT INTO markers (road_address, latitude, longitude)-->
<!--        VALUES (#{road_address}, #{latitude}, #{longitude})-->
<!--    </insert>-->

    <select id="getMarkers" resultType="java.util.HashMap">
--         SELECT * FROM house_location a, house_deal b where a.house_num = b.house_num

SELECT * FROM house_location a, house_list b,
              (select *
               from house_picture
               where house_picture_num in (select max(house_picture_num) from house_picture group by house_num)) c
where a.house_num = b.house_num and
    b.house_num = c.house_num and
    c.house_num = a.house_num and approval = 1
-- 승인절차 컬럼or쿼리 추가 필요
    </select>

<!--    <select id="map_fillter" resultType="java.util.HashMap">-->
<!--        &#45;&#45;         SELECT * FROM house_location a, house_list b where a.house_num = b.house_num-->

<!--        SELECT * FROM house_location a, house_list b,-->
<!--                      (select *-->
<!--                       from house_picture-->
<!--                       where house_picture_num in (select max(house_picture_num) from house_picture group by house_num)) c-->
<!--        where a.house_num = b.house_num and-->
<!--            b.house_num = c.house_num and-->
<!--            c.house_num = a.house_num and-->
<!--            house_type = #{house_type} and-->
<!--            deal_type = #{deal_type} and-->
<!--            exclusive_area2 < #{exclusive_area2}-->

<!--&#45;&#45; 승인절차 컬럼or쿼리 추가 필요-->
<!--    </select>-->
</mapper>