<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.thishouse.mapper.WishlistMapper">


    <select id="getFavoritesByUserId" resultType="com.example.thishouse.domain.DTO.WishDTO">
        select house_type, deal_type, n_floors, m_cost, h_title, hits, exclusive_area2, save_name, deposit, m_price, y_price, total_m_cost
        from house_list a, wishlist c,(select *
        from house_picture
        where house_picture_num in (select max(house_picture_num) from house_picture group by house_num)) b
        where a.house_num = b.house_num and a.house_num = c.house_num and c.user_id= #{user_id}
        limit ${criteria.skip}, ${criteria.amount};
    </select>

    <select id="findCount" resultType="integer">
        select count(*)
        from wishlist
    </select>

    <insert id="addFavoriteItem" parameterType="com.example.thishouse.domain.Wishlist">
        INSERT INTO wishlist (user_id, house_num)
        VALUES (#{user_id}, #{house_num})
    </insert>

    <delete id="removeFavoriteItem" parameterType="com.example.thishouse.domain.Wishlist">
        DELETE FROM wishlist
        WHERE user_id = #{user_id} AND house_num = #{house_num}
    </delete>

    <select id="isHouseLikedByUser" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM wishlist
        WHERE user_id = #{user_id}
          AND house_num = #{house_num}
    </select>

    <select id="getWishlistForUser" resultType="com.example.thishouse.domain.Wishlist">
        SELECT * FROM wishlist_items WHERE user_id = #{user_id} AND house_num = #{house_num}
    </select>


</mapper>